

#navleft {
  width: 50%;
  float: left;
}

#search {
  float: right;
  width: 25%
}

#navright {
  float: right;
  width: 25%;
}

.sidebar{
  position: absolute;
  float: left;
  background-color: pink;
  width: 125px;
}

.navi {
  margin-left: 125px;
}

.content{
  margin-left:145px;
}

.headr{
  background-color: grey;
  height: 125px;
  margin-top: 45px;
}

.headr h3{
  float: left;
  background-color: blue;
  width: 150px;
}

h6{
  width:150px;
  background-color: orange;
}

.headr ul {
  height: 50px;
  overflow: hidden;
}

.greenblue {
 height: auto;
 background-color: orange;
}

.greentext{
  padding-right: 20px;
  margin-right: 8px;
  border: 1px solid green;
  height: inherit;
}

.bluetext{
  border: 1px solid purple;
}

.col-md-5 {
  width: 40%;
}
