

#navleft {
  width: 50%;
  float: left;
}

#search {
  float: right;
  width: 25%
}

#navright {
  float: right;
  width: 25%;
}

.sidebar{
  position: absolute;
  float: left;
  background-color: pink;
  width: 125px;
}

.navi {
  margin-left: 125px;
}
