

#navleft {
  width: 50%;
  float: left;
}

#search {
  float: right;
  width: 25%
}

#navright {
  float: right;
  width: 25%;
}

.sidebar{
  position: absolute;
  float: left;
  background-color: lightgrey;
  width: 125px;
}

.navi {
  margin-left: 125px;
}

.content{
  margin-left:145px;
}

.headr{
  background-color: lightgrey;
  height: 125px;
  margin-top: 45px;
}

.headr h3{
  margin-top: 5px;
  float: left;
  width: 150px;
}

h6{
  width:150px;
}

.headr ul {
  margin-top: 15px;
  height: 60px;
  overflow: hidden;

}

.greenblue {
 height: auto;
}

.greentext{
  padding-right: 20px;
  margin-right: 8px;
  border: 1px solid green;
  height: inherit;
  background-color: lightgreen;
}

.bluetext{
  border: 1px solid purple;
  background-color: lightblue;
}

.col-md-5 {
  width: 40%;
}
